*.class^M
^M
# Mobile Tools for Java (J2ME)^M
.mtj.tmp/^M
^M
# Package Files #^M
*.jar^M
*.war^M
*.ear^M
^M
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml^M
hs_err_pid*^M
^M
.classpath^M
.settings^M
.project^M
.wtpmodules^M
target^M
/bin/
/dependency-reduced-pom.xml

